In [3]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

# Function to Prepare and Clean Data for input into DataFrame Using Regular Expressions.
def parse_strlist(sl):
    clean = re.sub("[\[\],\s]","",sl)
    splitted = re.split("[\'\"]",clean)
    values_only = [s for s in splitted if s != '']
    return values_only

# Using Beautiful Soup to scrape the date and number of tweets from web page.
# Get URL and beautiful soup instance.
url = 'https://bitinfocharts.com/comparison/bitcoin-tweets.html'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# From scripts turn the script[4] into a string value to rip date and tweets out of the html.
scripts = soup.find_all('script')
StrList = str(scripts[4])
StrList = '[[' + StrList.split('[[')[-1]
StrList = StrList.split(']]')[0] +']]'
StrList = StrList.replace("new Date(", '').replace(')','')

# Then apply the parse_strlist function.
dataList = parse_strlist(StrList)

# Create lists to store dates and tweets.
date = []
tweet = []

# Loop through and append values to the lists.
for each in dataList:
    if (dataList.index(each) % 2) == 0:
        date.append(each)
    else:
        tweet.append(each)
# Put the lists to a DataFrame.
df = pd.DataFrame(list(zip(date, tweet)), columns=["Date","Tweets"])

In [4]:
df

            Date Decred - Tweets
0     2014/04/09            8193
1     2014/04/10           15039
2     2014/04/11           14907
3     2014/04/12            7582
4     2014/04/13           10674
...          ...             ...
2534  2021/03/17          106258
2535  2021/03/18          106755
2536  2021/03/19          106380
2537  2021/03/20           92396
2538  2021/03/21           60309

[2539 rows x 2 columns]

In [ ]:
df.to_csv('')